#summary {
    margin: auto;
    margin-top: 30px;
    width: 50%;
    text-align: left;
}

#prediction {
    font-size: 16pt;
    margin: 5px;
    padding: 10px;
}

#histogram {
    font-size: 18pt;
    /* background: #88aa88; */
    margin: 5px;
    padding: 10px;
}

#inputs {
    font-size: 14pt;
    display: flex;
    justify-content: center;
    text-align: left;
}

#samples {
    flex: 0 0 40%;
    /* background: #aa8888; */
    margin: 5px;
    padding: 10px;
    overflow: auto;
}

#query {
    flex: 0 0 40%;
    /* background: #88aa88; */
    margin: 5px;
    padding: 10px;
}
