@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i');

body {
    font-family: 'montserrat', sans-serif;
}

#title {
    font-family: 'Source Code Pro', monospace;
}

#nav {
    margin: auto;
    text-align: center;
}

#nav > a {
    margin-left: 10px;
    margin-right: 10px;
    color: #777;
    text-decoration: none;
    background: #f0f0e1;
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    height: 32px;
}

.imgaligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

}

#nav > img {
    vertical-align: middle;

}
