html, body{
    height: 100%;

}
#content {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#stage {
    /* background: rgba(237, 232, 218, .3); */
    flex: 0 0 50%;
    /* margin: 5px; */
    margin: auto;
    height: 130px;
    min-width: 500px;
    padding: 10px;
    text-align: center;
}

#filepicker {
    margin: auto;
    width: 60%;
    height: 400px;
    margin-top: 10px;
}

.btn-primary {
    background: #F0F0E1;
    color: #777;
    border: 0px;
}

.file-footer-caption {
    font-weight: bold;
    color: black;
}

.file-preview{
    height: 350px;
}

#button {
    text-align: center;
}
