<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="../static/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../static/js/fileinput.min.js"></script>

    <link type="text/css" href="../static/css/default.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/frontend.css" rel="stylesheet" />

  </head>

  <body>
    <h1 align="center" id="title">author_check()</h1>
    <!-- <h2 align="center">AuthorCheck</h2> -->
    <h3 align="center">Analyze documents for stylistic similarity</h3>
    <div id="content">

      <div id="nav">
        <a href="http://www.kohkodes.com/about.html">About me</a>
        <a href="http://www.kohkodes.com/posts/2017-06-26-authorcheck/">More info</a>
        <a href="https://www.slideshare.net/MatthewKoh2/matthew-koh-insight-demo">Demo slides</a>
        <a href="https://www.github.com/mskoh52/writing-style"><span class="imgaligner"></span><img src="../static/github32x32_777.png" height=24px/> GitHub</a>
      </div>

      <div id="stage">
        <h3 id="samples-instr">Select writing samples known to be written by the author of interest</h3>
        <h3 id="samples-uploaded-instr" style="display: none; color: #aaa;">Samples uploaded</h3>
        <h3 id="query-instr" style="display: none;">Select document to test for similarity to writing samples</h3>
        <h3 id="query-uploaded-instr" style="display: none; color: #aaa;">Query uploaded</h3>
        <h3 id="analyzing-instr" style="display: none;">Analyzing...</h3>
      </div>

      <div id="filepicker">
        <label class="control-label">Select File(s)</label>
        <input id="files"
               type="file"
               class="file"
               accept=".txt"
               multiple />
        <br>
      </div>

    </div>


  </body>

  <script>
   var samplesUploaded = false;
   var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

   $("#files").fileinput({
       layoutTemplates: {progress: ''},
       allowedFileTypes: ['text'],
       showCaption: false,
       removeLabel: "Clear",
       previewClass: "file-preview",
       dropZoneEnabled: false,
       uploadUrl: $SCRIPT_ROOT + '/files',
       uploadExtraData: function (previewId, index) {
           if (!samplesUploaded) {
               return {"mode": "samples"};
           } else {
               return {"mode": "query"}
           }
       },
   });

   $("#files").on("filebatchuploadcomplete", function(event, files, extra) {
       console.log("batchuploadcomplete");
       var mode = extra.mode;
       if (mode === "samples") {
           samplesUploaded = true;
           $('#files').prop('multiple', false);
           $("#samples-instr").hide(750, function () {
               $("#samples-uploaded-instr").show(750, function () {
                   $("#query-instr").show(750);
               });
           });
           $("#files").fileinput("clear");
           $("#files").fileinput("reset");
       } else if (mode ==="query") {
           queryUploaded = true;
           $("#files").fileinput("disable");
           $("#filepicker").hide(750);
           $("#query-instr").hide(750, function () {
               $("#query-uploaded-instr").show(750);
               $("#analyzing-instr").show(750);
               window.location = $SCRIPT_ROOT + "/result";

           });
       }
   });



   /* $('#files').on('fileuploaded', function(event, data, previewId, index) {
    *     console.log('file uploaded');
    * });
    */

   // Switch file input to single/multiple as appropriate
   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
       var selected = e.target.getAttribute('aria-controls')
       if (selected === 'samples') {
           samplesUploaded ? $('#files').fileinput('disable') : $('#files').fileinput('enable')
       } else if (selected === 'query') {
           queryUploaded ? $('#files').fileinput('disable') : $('#files').fileinput('enable')
           $('#files').prop('multiple', false);
       }
   });

  </script>

</html>
